*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(12,200px);
  height: 180vh;
  font-family: 'Roboto Mono', monospace;
}


.container-one{
  /* height: 80vh; */
  background-color: #CFD5D5;
  grid-column: 1 / -1;
  grid-row: 1/ 4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(12, 1fr);
}

.header{
  grid-column: 8/9;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content{
  grid-column: 2/5;
  grid-row: 3/5;
}

.left-content > p {
  padding-top: 2em;
  font-size: .5em;
}

.button{
  background-color: black;
  color: white;
  border-radius: 4em; 
  grid-column: 12 / 14;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-two{
  /* height: 100vh; */
  background-color: lightblue;
  grid-column: 1/ -1;
  grid-row: 4/ -1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(12, 1fr);
}